<% include header.ejs %>




<div class="container text-center">
    <div class="container">
        <img src="<%= post.image %>" class="img-fluid" alt="Responsive image">
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1">Image</label>
                <input name="post[image]" type="text" class="form-control" id="exampleFormControlInput1" value="<%= post.image %>">
            </div>
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea name="post[description]" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= post.description %></textarea>
            <button class="btn btn-primary" type="submit">Done</button>
        </form>
    </div>
</div>














<% include footer.ejs %>