<% include header.ejs %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome The Negafa Store</h1>
        <p class="lead">Here you can see all the dresses we have!</p>
    </div>
</div>

<div class="container row">
    <% data.forEach(function(cards) {  %>
     <div class="col-md-3 col-sm-6">
          <div class="card" >
               <img src="<%= cards.image %>" class="card-img-top" alt="...">
               <div class="card-body">
               <a class="btn btn-primary" href="posts/<%= cards._id %>">more</a>
               <div class="mb-1 text-muted"><%= cards.date.toDateString() %>, <%= cards.author.city %></div>
               </div>
          </div>
     </div>
    <% }); %>
         
</div>
<br>
<br>
<% include footer.ejs %>