<!DOCTYPE html>
<html>
    <head>
        <title>neguafa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light bg-light flex-column flex-md-row bd-navbar">
    <ul class="nav">
        <li class="nav-item">
            <a class="navbar-brand" href="/">
                <img src="https://image.flaticon.com/icons/svg/1034/1034116.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Negafa
            </a>
        </li>
    </ul>
   <!--here comes the login link-->
</nav> 